# Alias
alias vi='vim'
alias .='pwd'
alias ..='cd ..'
alias ...='cd ..\..'
alias ....='cd ..\..\..'
alias reload='source ~/.zshrc'
alias "vzsh"="vi ~/.zshrc"
alias mip="dig +short @208.67.222.222 myip.opendns.com"
alias "nsvf4"="sudo nmap -n -vv -Pn -p- -sSV -T4 --max-retries 3 --defeat-rst-ratelimit -f --data-length 254"
#MAC
alias "dhide"="chflags hidden ~/Desktop/*"
alias "dshow"="chflags nohidden ~/Desktop/*"
alias "rdns"="dig +short -x"
alias "testdns"="dig +short which.opendns.com txt @208.67.220.220"
alias "glog"='git log -10 --graph --date-order -C -M --pretty=format:"%C(yellow)%h%C(reset) - %C(bold green)%ad%C(reset) - %C(dim yellow)%an%C(reset) %C(bold red)>%C(reset) %C(white)%s%C(reset) %C(bold red)%d%C(reset) " --abbrev-commit --date=short'
alias "powersave"="sudo sh ~/.dotfiles/bin/powersave"
alias vms="sudo lxc-ls --fancy | column -t"

#teclas
bindkey -v
bindkey '^R' history-incremental-search-backward
bindkey -M viins 'gg' vi-cmd-mode
bindkey -s 'º' '\/'
